<DOCTYPE html>
	<html>
	<head>
		<title>This is the current time</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="time.css">
	</head>
	<body>
		<%= @time%>
		<footer>Hasta luegooooooo</footer>
	</body>
	</html>