<DOCTYPE html>
	<html>
	<head>
		<title>Calcul8or</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="calc.css">
	</head>
	<body>
		<h1>Let's add two numbers</h1>

		<form action="/add" method="post" >
		<p>
			<label for="num1">First number:</label>
			<input type="text" name="num1">
		</p>

		<p>
			<label for="num2">First number:</label>
			<input type="text" name="num2">
		</p>

		<p>
			<input type="submit" value="Done" />
		</p>
		</form>



		<footer>You know nothing, Jon Snow <a href="/">Home</a></footer>
	</body>
	</html>